<div class="orders-container">
  <div class="orders-list-container">
    <ul *ngIf="orders && orders.length > 0">
      <li *ngFor="let item of orders">
        <div (click)="selectOrder(item)">
          <span>{{item.id}}</span>
          <span *ngIf="item.car">{{item.car.model}}</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="selected-order-container">
    <app-edit-order [order]="selectedOrder" [isEditing]="true"></app-edit-order>
    <button *ngIf="selectedOrder" mat-raised-button (click)="saveOrder(selectedOrder)">Save</button>
  </div>
</div>
