@import "~styles.scss";

.orders-list-container {
  @include flex(0, 0, $ordersListWidth);
  @extend .full-height;
  @extend .overflow-auto;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  border-right: 1px solid $separatorColor;
}

.selected-order-container {
  flex-grow: 9;
  @extend .overflow-auto;
}

.order-item {
  cursor: pointer;
}
