<div class="content-container">
  <div class="orders-list-container">
    <ul *ngIf="orders && orders.length > 0">
      <li class="order-item" *ngFor="let item of orders">
        <div (click)="selectOrder(item)">
          <span>{{item.id}}</span>
          <span *ngIf="item.car">{{item.car.model}}</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="selected-order-container">
    <app-edit-order [order]="selectedOrder"
                    [isEditing]="true"
                    (orderChanged)="loadOrders()">
    </app-edit-order>
  </div>
</div>
