<div class="content-container">
  <div class="task-list-container">
    <button mat-raised-button (click)="openAddDialog()">Add new</button>
    <ul class="no-styles-list">
      <li *ngFor="let item of tasksList">
        <div (click)="selectTask(item)">
          <span>{{item.id + ". "}}</span>
          <span>{{item.name + " - "}}</span>
          <span>{{item.price}}</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="new-task-container">
    <app-edit-task [currentTask]="currentTask" (taskAdded)="loadTasks()"></app-edit-task>
  </div>
</div>
