<div class="content-container">
  <div class="task-list-container">
    <ul class="no-styles-list">
      <li *ngFor="let item of tasksList">
        <div (click)="selectTask(item)">
          <span>{{item.id + ". "}}</span>
          <span>{{item.name + " - "}}</span>
          <span>{{item.price}}</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="new-task-container">
    <mat-form-field>
      <input matInput placeholder="Task name" [(ngModel)]="currentTask.name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Task price" [(ngModel)]="currentTask.price">
    </mat-form-field>

    <div class="task-buttons">
      <button *ngIf="!currentTask.id" mat-raised-button (click)="addTask(currentTask)">Add</button>
      <button *ngIf="currentTask.id" mat-raised-button>Save</button>
    </div>
  </div>
</div>
