<!--<div class="edit-customer-container">-->
  <div class="field">
    <mat-form-field class="full-width">
      <input matInput placeholder="First Name" [(ngModel)]="customer.firstName">
    </mat-form-field>
  </div>
  <div class="field">
    <mat-form-field class="full-width">
      <input matInput placeholder="Middle Name" [(ngModel)]="customer.middleName">
    </mat-form-field>
  </div>
  <div class="field">
    <mat-form-field class="full-width">
      <input matInput placeholder="Last Name" [(ngModel)]="customer.lastName">
    </mat-form-field>
  </div>
<!--</div>-->
