.container {
  padding: 5px;
}

.body-container {
  margin-top: 5px;
  display: flex;
}

.edit-order-content-container {
  //margin-right: 5px;

  margin: 20px;
}

.customer-selector {
  width: 100%;
  margin-bottom: 46px;
}
