<div class="container" *ngIf="order">
  <div class="header">
    <span>Order: {{order.id}}</span>
  </div>
  <div class="edit-order-body-container" *ngIf="order">
    <mat-tab-group>
      <mat-tab label="Customer">
        <div class="edit-order-content-container">
          <select [ngClass]="{'hidden' :
                      isEditing||!existingCustomers||existingCustomers.length<=0}"
                  class="customer-selector" [(ngModel)]="orderCustomer">
            <option [ngValue]="emptyCustomer">New customer</option>
            <option *ngFor="let item of existingCustomers" [ngValue]="item">
              {{item.id}}. {{item.lastName}} {{item.firstName}}
            </option>

          </select>
          <app-edit-customer [customer]="order.customer"></app-edit-customer>
        </div>
      </mat-tab>

      <mat-tab label="Car">
        <select class="customer-selector" [ngClass]="{'hidden' : isEditing}" [(ngModel)]="orderCar">
          <option [ngValue]="emptyCar">New car</option>
          <option *ngFor="let item of customerCars" [ngValue]="item">
            {{item.id + '. ' +item.manufacturer + ' ' + item.model }}
          </option>
        </select>
        <div class="edit-order-content-container">
          <app-edit-car [car]="order.car"></app-edit-car>
        </div>
      </mat-tab>

      <mat-tab label="??">
        <div class="edit-order-content-container">
          <mat-checkbox [(ngModel)]="order.isCompleted">Order completed</mat-checkbox>
          <mat-form-field>
            <mat-select placeholder="Tasks" [formControl]="tasksFormControl" multiple>
              <mat-option *ngFor="let task of tasksList" [value]="task">{{task.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="isEditing">
            <span>Created: {{order.creationDate | date:'dd/MM/yyyy - HH:mm'}}</span>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div *ngIf="isEditing" class="edit-order-content-container">
      <button mat-raised-button (click)="saveOrder(order)">Save</button>
      <button mat-raised-button (click)="remove(order.id)">Delete</button>
    </div>
    <div *ngIf="!isEditing" class="edit-order-content-container">
      <button mat-raised-button (click)="addOrder(order)">Add</button>
    </div>
  </div>
</div>
