<div class="container" *ngIf="order">
  <div class="header">
    <span>Order: {{order.id}}</span>
  </div>
  <div class="edit-order-body-container" *ngIf="order">
    <mat-tab-group>
      <mat-tab label="Customer">
        <div class="edit-order-content-container">
          <div>
            <mat-form-field [ngClass]="{'hidden' : isEditing||!existingCustomers||existingCustomers.length<=0}">
              <mat-select class="customer-selector" placeholder="Select customer" [(ngModel)]="orderCustomer">
                <mat-option [value]="emptyCustomer">New customer</mat-option>
                <mat-option *ngFor="let item of existingCustomers" [value]="item">
                  {{item.id}}. {{item.lastName}} {{item.firstName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <app-edit-customer [customer]="order.customer"></app-edit-customer>
        </div>
      </mat-tab>

      <mat-tab label="Car">

        <div class="edit-order-content-container">
          <mat-form-field [ngClass]="{'hidden' : isEditing}">
            <mat-select class="customer-selector"  [(ngModel)]="orderCar"
                        placeholder="Select car">
              <mat-option [value]="emptyCar">New car</mat-option>
              <mat-option *ngFor="let item of customerCars" [value]="item">
                {{item.id + '. ' +item.manufacturer + ' ' + item.model }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <app-edit-car [car]="order.car"></app-edit-car>
        </div>
      </mat-tab>

      <mat-tab label="Tasks">
        <div class="edit-order-content-container">
          <div>
            <mat-checkbox [(ngModel)]="order.isCompleted">Order completed</mat-checkbox>
          </div>
          <mat-form-field *ngIf="!isEditing">
            <mat-select placeholder="Tasks" [formControl]="tasksFormControl" multiple>
              <mat-option *ngFor="let task of tasksList" [value]="task">{{task.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <ul *ngIf="isEditing">
            <li *ngFor="let task of order.tasks">
              {{task.id}}.{{task.name}}-{{task.price}}
            </li>
          </ul>
          <div *ngIf="isEditing">
            <span>Created: {{order.creationDate | date:'dd/MM/yyyy - HH:mm'}}</span>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div *ngIf="isEditing" class="edit-order-content-container">
      <button mat-raised-button (click)="saveOrder(order)">Save</button>
      <button mat-raised-button (click)="remove(order.id)">Delete</button>
    </div>
    <div *ngIf="!isEditing" class="edit-order-content-container">
      <button mat-raised-button (click)="addOrder(order)">Add</button>
    </div>
  </div>
</div>
