.container {
  padding: 5px;
}

.edit-order-body-container {
  margin-top: 5px;
  flex-direction: column;
  display: inline-block;
}

.edit-order-content-container {
  margin: 20px;
}

.customer-selector {
  width: 100%;
  margin-bottom: 46px;
}
