.container {
  padding: 5px;
}

.body-container {
  margin-top: 5px;
  display: flex;
}

.edit-order-content-container {
  //display: inline-block;
  margin-right: 5px;
}

.header {
  span {
    font-size: 26px;
  }
}
