<nav>
  <div class="nav-logo">
    <div class="nav-logo-content">
      <a>
        <span>Autoservice Online</span>
      </a>
    </div>
  </div>
  <div class="nav-item">
    <div class="nav-item-content">
      <a>
        <span>
          Item1
        </span>
      </a>
    </div>
  </div>
  <div class="nav-item">
    <div class="nav-item-content">
      <a>
        <span>
          Item1
        </span>
      </a>
    </div>
  </div>
  <div class="nav-item">
    <div class="nav-item-content">
      <a>
        <span>
          Item1
        </span>
      </a>
    </div>
  </div>
</nav>

