<nav>
  <div (click)="navigate(STATES.STATE_MAIN)" class="nav-logo">
    <div class="nav-logo-content">
      <a>
        <span>Autoservice Online</span>
      </a>
    </div>
  </div>
  <div (click)="navigate(STATES.STATE_ORDERS)" class="nav-item"
       [class.selected]="isActive(STATES.STATE_ORDERS)">
    <div class="nav-item-content">
      <a>
        <span>
          Orders
        </span>
      </a>
    </div>
  </div>
  <div (click)="navigate(STATES.STATE_ADD_NEW_ORDER)" class="nav-item new-order"
       [class.selected]="isActive(STATES.STATE_ADD_NEW_ORDER)">
    <div class="nav-item-content">
      <a>
        <span>
          New order
        </span>
      </a>
    </div>
  </div>
  <div (click)="navigate(STATES.STATE_TASKS)" class="nav-item" [class.selected]="isActive(STATES.STATE_TASKS)">
    <div class="nav-item-content">
      <a><span>Tasks</span></a>
    </div>
  </div>
</nav>

