/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

//App
$appBackground: #EDEEF0;
$separatorColor: #A7A9A7;
$ordersListWidth: 250px;

//Nav
$navBackgroundColor: #125687;
$navSelectedColor: #0F4671;
$navHeight: 60px;

body {
  margin: 0;
}

.header {
  span {
    font-size: 26px;
  }
}

.invisible {
  visibility: hidden;
}
