/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

//App
$appBackground: #EDEEF0;
$separatorColor: #A7A9A7;
$ordersListWidth: 250px;

//Nav
$navBackgroundColor: #125687;
$navSelectedColor: #0F4671;
$navHeight: 60px;

body {
  margin: 0;
}

.header {
  span {
    font-size: 26px;
  }
}

.invisible {
  visibility: hidden;
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}

.full-size {
  @extend .full-width;
  @extend .full-height;
}

.hidden {
  display: none;
}

.container {
  padding: 5px;
}

.content-container {
  height: calc(100% - #{$navHeight});
  display: flex;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.site-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  box-sizing: border-box;
  @extend .full-height;
  @extend .full-width;
  background-color: $appBackground;
  @extend .overflow-hidden;
}

@mixin flex($grow, $shrink, $basis){
  flex-basis: $basis;
  flex-grow: $grow;
  flex-shrink: $shrink;
}

@mixin double-layout-container-left($width) {
  @include flex(0, 0, $width);
  @extend .full-height;
  @extend .overflow-auto;
  border-right: 1px solid $separatorColor;
}

@mixin double-layout-container-right(){
  flex-grow: 1;
  @extend .overflow-auto;
}
