/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$navBackgroundColor: #125687;
$navSelectedColor: #0F4671;
$appBackground: #EDEEF0;
$navHeight: 60px;
$ordersListWidth: 250px;

body {
  margin: 0;
}
