<div class="field">
  <mat-form-field class="full-width">
    <input matInput placeholder="Car model" [(ngModel)]="car.model">
  </mat-form-field>
</div>
<div class="field">
  <mat-form-field class="full-width">
    <input matInput placeholder="Manufacturer" [(ngModel)]="car.manufacturer">
  </mat-form-field>
</div>
<div class="field">
  <mat-form-field class="full-width">
    <input matInput placeholder="Manufacture Year" [(ngModel)]="car.manufactureYear">
  </mat-form-field>
</div>
<div class="field">
  <mat-form-field class="full-width">
    <input matInput placeholder="Vin" [(ngModel)]="car.vin">
  </mat-form-field>
</div>
